@import 'standards.css';

* {
	text-align: justify;
}

#document {
	margin: 2% 4%;
}

#document h1 {
	font-size: 200%;
}

#document h2 {
	font-size: 125%;
}

#document em {
	font-style: italic;
}

#document dt {
	clear: left;
	float: left;
	width: 8%;
}

#document dd {
	float: left;
}

#document * {
	padding: 0.25%;
}

#document .content {
	margin: 2% 0;
	width: 100%;
}

#Food {
	border: 1px solid #666;
}

#Food .head {
	background-color: #777;
	color: #fff;
}

#Food .number {
	width: 4%;
}

#Food .data {
	clear: both;
	font-weight: bold;
	padding: 0.25% 2%;
}

#Food .data .price {
	float: right;
}

#Food .body .even {
	background-color: #eee;
}

#Food .body .odd {
	background-color: #ddd;
}

#Food .body .description {
	font-size: 75%;
	font-weight: normal;
	padding: 0;
}