@import 'standards.css';

* {
	text-align: justify;
}

#document {
	margin: 2em 5em;
}

#document h1 {
	font-size: 200%;
}

#document h2 {
	font-size: 150%;
}

#document em {
	font-style: italic;
}

#document dt {
	clear: left;
	float: left;
	width: 10em;
}

#document dd {
	display: block;
}

#document .content {
	margin: 2em 0;
	width: 100%;
}

#document .content * {
	padding: 0.25em;
}

#Food {
	border: 1px solid #666;
}

#Food .head {
	background-color: #777;
	color: #fff;
	margin-bottom: 2em;
}

#Food .number {
	width: 2em;
}

#Food .title {
	clear: both;
	font-weight: bold;
}

#Food .title .price {
	float: right;
}

#Food .body .odd {
	background-color: #eee;
}

#Food .body .even {
	background-color: #ddd;
}

#Food .body .description {
	font-size: 75%;
	font-weight: normal;
}